@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://fakeimg.pl/400x300/009578/fff/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <h6 class="card-title">@Model.Price</h6>
    <p class="card-text"> @Model.details</p>
  
  </div>
</div>